* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2ebf1;
}

#main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#main-title {
  color: #003d7ee3;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-left: 15px;
}

#events-going-interested{
  padding: 5px 20px 5px 20px;
  box-sizing: border-box;
  margin-top: 40px;
  /* margin-left:50px; */
  /* transform: translate(-50%, -50%); */
  width: 600px;
  background: white;
  border-style: solid;
  border-radius: 10px;
  border-color: #003d7ee3;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  border-width: 1.5px;
}

#events-invited{
  padding: 5px 20px 5px 20px;
  box-sizing: border-box;
  margin-top: 40px;
  /* margin-left:50px; */
  /* transform: translate(-50%, -50%); */
  width: 600px;
  background: white;
  border-style: solid;
  border-radius: 10px;
  border-color: #003d7ee3;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  border-width: 1.5px;
}

.events-accepted-text {
  color: #003d7ee3;
  border-bottom: 1px solid #cfcece;
  font-weight: bold;
  font-size: 25px;
  margin-top: 2px;
  padding-left: 8px;
  text-align: center;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.events-waiting-text {
  color: #003d7ee3;
  border-bottom: 1px solid #cfcece;
  font-weight: bold;
  font-size: 25px;
  margin-top: 2px;
  padding-left: 8px;
  text-align: center;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#profile,
#events,
#logout {
  border: 2px solid #003d7ee3;
  color: #003d7ee3;
  background: white;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  width: 130px;
  padding: 5px 12px;
  margin-top: 5px;
  margin-left: 6px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#profile:hover,
#events:hover,
#logout:hover {
  color: white;
  background: #003d7ee3;
  font-weight: bold;
}

.header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  color: #003d7ee3;
}

.invited-event{
  font-size: 21px;
  color: #003d7ee3;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 10px 20px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 550px;
  background: white;
  border-style: solid;
  border-radius: 10px;
  border-color: #003d7ee3;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  border-width: 1px;
  text-align: center;
  text-decoration: none;
  /* font-weight: bold; */
  
}

.accepted-event{
  font-size: 21px;
  color: #003d7ee3;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 10px 20px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 550px;
  background: white;
  border-style: solid;
  border-radius: 10px;
  border-color: #003d7ee3;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-width: 1px;
  text-align: center;
  text-decoration: none;
  /* font-weight: bold; */
  
}

#my-events{
  color: #003d7ee3;
  font-size: 42px;
  text-align: center;
  /* border-bottom: 3px solid  #003d7ee3; */
  margin-bottom: 15px;
  margin-top: 20px;
}

.break {
  flex-basis: 100%;
  height: 0;
}